<% content_for :command_one do %>
  <a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>

<div ng-app='myApp'>
  <div ng-controller='MessagesController'>
    <div class='post row' ng-repeat=" message in messages | filter: filter_name ">
      <div class='col-sm-8 col-sm-offset-2'>
        <div class='post_header'>
          <h3><i class='fa fa-circle {{ message.color }}'></i></h3>
        </div>
        <p ng-bind-html="message.content"></p>
      </div>
    </div>
  </div>
</div>
