<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="landing_header" class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>kira</h1>
        <h5>anonymous diaries</h5>
      </div>
    </div>
    <% if flash[:login_error] %>
      <p class='messages'><%= flash[:login_error] %></p>
    <% end %>
    <% if flash[:success] %>
      <p class='messages'><%= flash[:success] %></p>
    <% end %>
    <div id='login_form' class="col-sm-8 col-sm-offset-2">
      <form action="/sessions" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <p>
          <label for="alias">alias</label>
          <input id="alias" type="text" name="session[alias]">
        </p>
        <p>
          <label for="password">password</label>
          <input id="password" type="password" name="session[password]">
        </p>
        <p class='links'>
          <a href="/users/new">sign up</a>
          <input id="enter" type="submit" value="enter">
        </p>
      </form>
    </div>
  </div>
</div>
