<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="landing_header" class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>kira</h1>
        <h5>anonymous diaries</h5>
      </div>
    </div>
    <div id='login_form' class="col-sm-8 col-sm-offset-2">
      <form action="/sessions" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <p>
          <label for="alias">alias</label>
          <input type="text" name="session[alias]">
        </p>
        <p>
          <label for="password">password</label>
          <input type="password" name="session[password]">
        </p>
        <p class='links'>
          <a href="/users/forgot_password">forgot your password?</a> <!-- need to figure out how to retrieve password from the specific user -->
          <a href="/users/new">sign up</a>
          <input type="submit" value="enter">
        </p>
      </form>
    </div>
  </div>
</div>
