<div id="entry-new-header">
  <div class="row">
    <div class="col-sm-2">
      <h2><%= @user.alias %></h2>
    </div>
    <div class="col-sm-2 col-sm-offset-6">
      <h3><a href="/posts">browse</a></h3>
    </div>
    <div class="col-sm-2">
      <h3><a href="/signout">logout</a></h3>
    </div>
  </div>
</div>

<div id="entry-textangular" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p>textangular textangular textangular textangular textangular textangular textangular textangular textangular textangular </p>
  </div>
</div>

<div id="entry-new-form" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/entries" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <p>
        <label for="title">Title</label>
        <input type="text" name="entry[title]">
      </p>
      <p>
        <textarea id="entry-new-content" name="entry[content]"><%= @content %></textarea>
      </p>
      <input type="submit" value="Submit"> 
    </form>
  </div>
</div>
