<% content_for :command_one do %>
  <a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>

<div ng-app='myApp' ng-controller='TextAngularController' class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p class='messages'><%= error %></p>
      <% end %>
    <% end %>
    <form action='/entries' method='post'>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <p>
        <label>Title</label>
        <input id='search' name='entry[title]' type="text" class="form-control" placeholder="Enter title here (required)" autofocus>
      </p>
      <text-angular name='entry[content]' data-ng-model='diary_entry.post' ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','pre'], ['justifyLeft','justifyCenter','justifyRight','indent','outdent', 'ul', 'ol'],['bold','italics','underline', 'clear'],['colorGold', 'colorOrange', 'colorRed', 'colorFuchsia', 'colorPurple', 'colorMaroon', 'colorNavy', 'colorBlue', 'colorAqua', 'colorLime', 'colorGreen', 'colorOlive', 'colorBlack', 'colorGray', 'colorSilver']]">
      <% if @content %>
        <%= @content.html_safe %>
      <% end %>
      </text-angular>
      <input class="pull-right btn btn-default" type="submit" value="Submit">
    </form>
  </div>
</div>
