<div id="user-show-header">
  <div class="row">
    <div class="col-sm-2">
      <h2><%= @user.alias %></h2>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <h3><a href="/messages">(#) messages</a></h3>
    </div>
    <div class="col-sm-2">
      <h3><a href="/posts">browse</a></h3>
    </div>
    <div class="col-sm-2">
      <h3><a href="/signout">logout</a></h3>
    </div>
  </div>
</div>
