<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div id="landing_header" class="col-sm-6 col-sm-offset-3">
        <h1>kira</h1>
        <h5>sign up</h5>
      </div>
    </div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
      <p class='messages'><%= error %></p>
      <% end %>
    <% end %>
    <div id="login_form" class="col-sm-8 col-sm-offset-2">
      <form action="/users" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <p>
          <label for="alias">alias</label>
          <input id="alias" type="text" name="user[alias]">
        </p>
        <p>
          <label for="password">password</label>
          <input id="password" type="password" name="user[password]">
        </p>
        <p>
          <label for="password_confirmation">confirm password</label>
          <input id="password_confirmation" type="password" name="user[password_confirmation]">
        </p>
        <p class="links">
          <a id="back_to_sign_in" href="/">back</a>
          <input id="enter" type="submit" value="join">
        </p>
      </form>
    </div>

    <div class="row">
      <div id="globe"></div>
      <div class="description col-sm-8 col-sm-offset-2">
        <p>Read diaries from all over the world.</p>
        <p>All diary entries are available for 24 hours to the public then disappears.</p>
        <p>The diary entry is always available to the author.</p>
      </div>
    </div>

  </div>
</div>
