<% content_for :command_one do %>
  <a href="/posts/<%= current_user.id %>/messages"><span class="glyphicon glyphicon-envelope"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>

<div ng-app='myApp'>
  <div data-ng-controller='UserController'>

    <div class='row form-group'>
      <div class='col-sm-6 col-sm-offset-3'>
        <div id='user_commands'>
          <h3><a href="/entries/new"><span class="glyphicon glyphicon-pencil"></span></a></h3>
          <h3><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-cog"></span></a></h3>
        </div>
        <input id='search' type="text" class="form-control" ng-model='filter_name' placeholder="Search entries here">
      </div>
    </div>

    <div class="post row" ng-repeat=" entry in entries | filter: filter_name | orderBy: 'created_at':true ">
      <div class='col-sm-6 col-sm-offset-3'>
        <div class='post_header'>
          <div>
            <h3>{{ entry.title }} <small>{{ entry.city }}, {{ entry.country }}</small></h3>
            <p ng-bind="entry.created_at | date: 'M/d/yyyy @ H:m a'"></p>
          </div>
        </div>
        <p class='post_content' ng-bind-html="entry.content"></p>
      </div>
    </div>

  </div>
</div>
