<% content_for :command_one do %>
  <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>

<div id="user-show-content">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-5">
      <h4><a href="/entries/new">write new</a></h4>
    </div>
  </div>

  <% @entries.each do |entry| %>
  <div class="row">
    <div id="user-entries" class="col-sm-8 col-sm-offset-2">
      <p><%= entry.created_at.strftime("%b %d, %Y at %l:%M %P") %> from California</p>
      <p><%= entry.title %></p>
      <p><%= entry.content %></p>
    </div>
  </div>
  <% end %>
</div>
