<% content_for :command_one do %>
  <a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts/<%= current_user.id %>/messages"><span class="glyphicon glyphicon-envelope"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>

<div ng-app='myApp'>
  <div ng-controller='PostsController'>

    <div class='row form-group'>
      <div class='col-sm-6 col-sm-offset-3'>
        <input id='search' type="text" class="form-control" ng-model='filter_name' placeholder="Search entries here">
      </div>
    </div>

    <div class='post row' ng-repeat=" post in posts | orderBy:'-rank' | filter: filter_name ">
      <div class='col-sm-6 col-sm-offset-3'>

        <div class='post_header'>
          <div>
            <h3><i class='fa fa-circle {{ post.color }}'></i></h3>
            <h3>{{ post.name }}, <small>FROM LOCATION</small></h3>
            <p>{{ post.time_ago }} hours ago</p>
          </div>
          <div class='pull-right'>
            <div  ng-if="post.clicked == true">
              <span style="color: yellow" ng-click="giveJoy(post.id)" class="joys glyphicon glyphicon-record"></span>
            </div>
            <div ng-if="post.clicked != true">
              <span ng-click="giveJoy(post.id)" class="joys glyphicon glyphicon-record"></span>
            </div>
            <h4>{{ post.joys }}</h4>
          </div>
        </div>

        <a id="{{ post.id }}" class="post_title" ng-click="joinRoom(post.id)" ng-href="/posts/{{ post.id }}">{{ post.title }}</a>
        <p class='post_content' ng-bind-html="post.content"></p>

      </div>
    </div>
    <!-- <div class='row'> -->
    <div class='row navbar-fixed-bottom'>
      <h1 id="joy_count" class='col-sm-12'><%= 24 - current_user.joy_counts.count %></h1>
    </div>

  </div>
</div>
