// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entry-new-header h3{
  margin-top: 25px;
}

#entry-new-header a {
  font-weight: 200;
  color: black;
}