.black {
  color: black;
}

.gray {
  color: gray;
}

.silver {
  color: silver;
}

.gold {
  color: gold;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.fuchsia {
  color: fuchsia;
}

.purple {
  color: purple;
}

.maroon {
  color: maroon;
}

.navy {
  color: navy;
}

.blue {
  color: blue;
}

.aqua {
  color: aqua;
}

.lime {
  color: lime;
}

.green {
  color: green;
}

.olive {
  color: olive;
}
