// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4,
h5, h6, p, pre,
font {
  word-wrap: break-word;
}


#header {
  h1 {
    display:inline-block;
  }
  div a {
    margin-top:30px;
    font-size:1.2em;
  }
}

#search {
  margin-bottom: 20px;
  border: 10px solid #eee;
  height: 60px;
  width: 100%;
  font-size: 100%;
}

.post {
  margin-bottom: 40px;
  div {
    border: solid 1px #eee;
    div {
      border:none;
    }
  }
}

.post_header {
  margin-top:10px;
  .status {
    font-size:2.2em;
  }
  h3 {
    display:inline-block;
  }
  div, h4 {
    display:inline-block;
  }
}

.joys {
  font-size:1.8em;
}

.post_title {
  display:block;
  margin-top:10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4em
}

.post_content {
  word-wrap: break-word;
}

#header a {
  margin-top: 30px;
  font-size: 1.2em;
}

#timer {
  margin-top: 10px;
  margin-bottom: 30px;
}

#post, #chat_room {
  border: 2px solid #E6E6E6;
  border-radius: 10px;
}

#post_header {
  span{
    font-size:1.8em;
  }
  h3{
    display:inline-block;
  }
}

#chat_room {
  padding: 10px;
  margin-bottom: 10px;
}

input[type="submit"] {
  margin-top: 10px;
}

#count_down_message {
  display: none;
}

.p_red {
  color: red;
}

.p_orange {
  color: orange;
}

.p_green {
  color: green;
}
