// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing_header {
  margin-bottom: 20px;
  h1, h5 {
    text-align: center;
  }
}

#login_form {
  text-align: center;
  label {
    text-align: right;
    width: 80px;
    margin-right: 30px;
    margin-left: -25px;
    margin: 4px 30px 0 -25px;
    vertical-align: top;
  }
  input, a {
    border-radius: 10px;
    border: solid 1px #eee;
    display: inline-block;
    background-color: white;
    box-shadow: inset 1px 1px 2px 0 #707070;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    padding: 5px 0 3px 10px;
    margin: 0;

    &:focus, &:hover {
      outline: none;
      box-shadow: inset 1px 1px 2px 0 #c9c9c9;
      text-decoration: none;
    }
  }
  #enter {
    background-color: #eee;
    color: black;
    padding: 5px 8px;
  }
  a {
    color: white;
    padding: 5px 8px;
    background-color: darkgray;
    margin: 0;
  }
  p {
    margin: 20px 0;
  }
  p.links {
    margin-top: 5px;
    margin-left: 20px;
    padding-top: 5px;
    padding-left: 60px;
    a, input {
      display: inline-block;
    }
    a {
      text-align: left;
      max-width: 80px;
      margin-right: 35px;
    }
  }
}

.messages {
  text-align: center;
  color: red;
}

#sign_up {
  padding-left: 140px;
}
