// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sessions.css.scss';

.description {
  margin-top: 50px;
  text-align: center;
}

#terms_and_agreements {
  margin-right: 10px;
  display: inline-block;
  p {
    display: inline-block;
  }
}
