// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  margin-top: 50px;
  text-align: center;
}

#terms_and_agreements {
  margin-right: 10px;
  display: inline-block;
  p {
    display: inline-block;
  }
}

#user_commands {
  text-align: center;
  a {
    color: black;
    &:hover {
      color: #eee;
    }
  }
  h3 {
    display: inline-block;
    margin: 30px;
  }
}

#edit_user_form {
  margin-top: 20px;
  text-align: center;
  #p-toggle {
    width: 400px;
  }
}

#joy_count {
  background-color: rgba(255,255,255,.97);
  padding: 10px 0;
  text-align: center;
  color: #333;
  margin-bottom: 0;
}
