<div id="header" class="row">
  <h2><%= @tmp_alias %></h2>
  <div id="commands" class="col-sm-10">
    <h3><%= yield :command_one %></h3>
    <h3><%= yield :command_two %></h3>
    <h3><%= yield :command_three %></h3>
  </div>
</div>
